body {
  padding: 12px;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
}

.actionPanel {
  float: left;
  padding: 12px;
}

.actionPanel:first-child {
  padding-left: 0;
}

.actionPanel:last-child {
  padding-right: 0;
}

.actionPanel:after {
  content: "";
  display: table;
  clear: both;
}

.CodeMirror {
  display: block;
  width: 550px;
  height: 350px;
  margin-top: 8px;
}

iframe {
  width: 100%;
}

#iframeContainer {
  margin-top: 10px;
  border: 1px solid #ddd;
  position: relative;
}

/**
 * Frameboyant removes the body background property of any iframe it controls. This pseudo element
 * has the same dimensions as the iframe and we can set a background color on it.
*/
#iframeContainer:after {
  background: #fafafa;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  position: absolute;
}

#iframeContainer.loading {
  height: 0px;
  overflow: hidden;
}

.error {
  color: red;
}

#validateOutput {
  font-size: 24px;
}
