iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

body {
  margin: 0;
}

.error {
  color: red;
}

#validateOutput {
  font-size: 24px;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 12px 12px 0 12px;
}

/*
  In Safari, an element with 100% height won't be 100% height of the flex box item that contains it.
  This is due to https://bugs.webkit.org/show_bug.cgi?id=137730.
  Unfortunately, this means that rather than using a flex box item these cases, we have
  to use an absolutely positioned element. With this done, children that are 100% height will
  actually be 100% height.
*/
#panesWrapper {
  margin-top: 12px;
  height: 100%;
}

#panes {
  /*
  display: flex;
  flex-direction: row;
  */
  height: 100%;
}

.react-spectrum-TabPanel {
  overflow: hidden;
}

.react-spectrum-TabPanel-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  flex: 1;
}

#extensionViewPane {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  background: white;
  overflow-y: hidden;
}

#controlPane {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  overflow-y: auto;
  overflow-x: hidden;
}

.spectrum-Tabs {
  /* Prevent tabs from breaking onto new lines when the pane gets small. */
  min-width: 500px;
}

.spectrum-TabView {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.spectrum-PanelStack{
  position: relative;
  height: 100%
}

.spectrum-Panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.spectrum-Panel.is-selected {
  display: block;
}

.spectrum-PanelContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editorContainer {
  position: relative;
  flex: 1;
  width: 100%;
}

.codeMirror-Wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

#initEditorContainer .CodeMirror {
  top: 12px;
}

#getSettingsEditorContainer .CodeMirror {
  bottom: 12px;
}

.panelButtonHolder {
  padding: 12px;
  display: flex;
  flex-direction: row;
}

.panelButton {
  width: 100%;
  margin-left: 8px;
}

.panelButton:first-child {
  margin-left: 0;
}

.resetInitButton {
  width: 140px;
}

.gutter {
  height: 100%;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: ew-resize;
  display: inline-block;
  height: 100%;
}

.validation {
  padding: 0 12px 12px 12px;
}

.validation.error {
  color: red;
}

.validation.success {
  color: green;
}
