.component-edit-container, .component-edit-container .pure-u-1-4 {
  height: 100%;
}

.component-edit-sidebar {
  border-right: 1px solid #cbcbcb;
  height: 100%;
  padding: 0 2rem;
  overflow: auto;
}

.component-edit-sidebar input[type="text"],
.component-edit-sidebar select {
  width: 100%;
}

.button-container {
  padding-bottom: 1rem;
}
