.list-container {
  width: 95%;
  margin: 1rem auto;
}

.list-table {
  margin: auto;
  width: 100%;
}

.list-item-name {
  text-align: left;
}

.list-item-actions {
  text-align: center;
  white-space: nowrap;
  width: 10%;
}

.create-new-button {
  margin-top: 1rem;
}
