.rule-component-card {
  border: 1px solid #e3e3e3;
  float: left;
  padding: 1rem;
  margin: 1rem 1rem 0 0;
  width: 10rem;
  background: #f5f5f5;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.icono-file,
.icono-cross {
  color: #0078e7;
  margin-top: 1rem;
}

button.icono-cross {
  background: none;
  border: none;
}

button.icono-cross:focus {
  outline: none;
}

.card-extension-display-name,
.card-display-name {
  padding: 0.5rem 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icono-cross {
  cursor: pointer;
}
