body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

a {
  color: inherit;
  font-weight: bold;
}

button {
  cursor: pointer !important;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#controlPane div[role='tabpanel'] {
  height: calc(100% - 6.5rem);
}

/* Hack for making the tab headers not grow */
#controlPane > div:first-child > div:first-child {
  flex-grow: unset;
  flex-basis: unset;
}

#controlPane .codeMirror-Wrapper {
  height: 100%;
}
