.lib-sandbox-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lib-sandbox-content-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.lib-sandbox-content-container .iframe-container {
  flex-grow: 1;
  border-right: 1px solid #cbcbcb;
}

.lib-sandbox-content-container .description-container {
  width: 20rem;
  min-width: 20rem;
  padding: 2rem;
}

.lib-sandbox-content-container iframe {
  width: 100%;
  height: 100%;
  background: white;
}